body {
    background-color: #F5DFF2;
    text-align: center; margin: 10;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
}
input {
    display: inline-block; 
    margin: 20px auto;
    border: 2px solid black;
    padding: 10px 20px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
}

h2 {
    font-size: 50px;
}